<a href="https://colab.research.google.com/github/nouran551/Machine-Learning-Training/blob/main/Session1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 
https://colab.research.google.com/drive/1wxpH_BN5qEsnaYkTgiifktRWyakDSVE3?usp=sharing

# Input, Processing, and Output

In [ ]:
print('Kate Austen')
print('123 Full Circle Drive')
print('Asheville, NC 28899')

Kate Austen
123 Full Circle Drive
Asheville, NC 28899

In [ ]:
print("Kate Austen")
print("123 Full Circle Drive")
print("Asheville, NC 28899")

Kate Austen
123 Full Circle Drive
Asheville, NC 28899

In [ ]:
print('Don\'t fear!')
print("I'm here!")

Don't fear!
I'm here!

In [ ]:
 print("Your assignment is to read \"Hamlet\" by tomorrow.")

Your assignment is to read "Hamlet" by tomorrow.

In [ ]:
print("""I'm reading "Hamlet" tonight.""")

I'm reading "Hamlet" tonight.

In [ ]:
print("""One
Two
Three""")

One
Two
Three

In [ ]:

# This program displays a person's
# name and address.
print('Kate Austen')
print('123 Full Circle Drive')
print('Asheville, NC 28899')

Kate Austen
123 Full Circle Drive
Asheville, NC 28899

In [ ]:
print('Kate Austen') # Display the name.
print('123 Full Circle Drive') # Display the address.
print('Asheville, NC 28899') # Display the city, state, and ZIP.

Kate Austen
123 Full Circle Drive
Asheville, NC 28899

In [ ]:
room = 503 
print('I am staying in room number') 
print(room)

I am staying in room number
503

In [ ]:
 room = 503 
print('I am staying in room number', room)

I am staying in room number 503

## Variable Reassignment

In [ ]:
# This program demonstrates variable reassignment.
# Assign a value to the dollars variable.
dollars = 2.75
print('I have', dollars,'in my account.')

# Reassign dollars so it references
# a different value.
dollars = 99.95
print('But now I have', dollars, 'in my account!')

I have 2.75 in my account.
But now I have 99.95 in my account!

In [ ]:
 # Create variables to reference two strings.
first_name = "Kathryn"
last_name = 'Marino'

# Display the values referenced by the variables.
print(first_name, last_name)

Kathryn Marino

In [ ]:
# Get the user's first name.
first_name = input('Enter your first name: ')

# Get the user's last name.
last_name = input('Enter your last name: ')

# Print a greeting to the user.
print('Hello', first_name, last_name)

Enter your first name: Nouran
Enter your last name: Waleed
Hello Nouran Waleed

## Data Conversion

In [ ]:
 # Get the user's name, age, and income.
name = input('What is your name? ')
age = int(input('What is your age? ')) 
income = float(input('What is your income? '))

# Display the data.
print('Here is the data you entered:')
print('Name:', name)
print('Age:', age)
print('Income:', income)

What is your name? Ahmed
What is your age? 20
What is your income? 463.5
Here is the data you entered:
Name: Ahmed
Age: 20
Income: 463.5

## Performing Calculations

In [ ]:
# Assign a value to the salary variable.
salary = 2500.0

# Assign a value to the bonus variable.
bonus = 1200.0

# Calculate the total pay by adding salary
# and bonus. Assign the result to pay.
pay = salary + bonus
# Display the pay.
print('Your pay is', pay)

Your pay is 3700.0

### Calculating a Percentage
If you are writing a program that works with a percentage, you have to make sure that
the percentage’s decimal point is in the correct location before doing any math with the
percentage. This is especially true when the user enters a percentage as input. Most users
enter the number 50 to mean 50 percent, 20 to mean 20 percent, and so forth. Before you
perform any calculations with such a percentage, you have to divide it by 100 to move its
decimal point two places to the left.
Let’s step through the process of writing a program that calculates a percentage. Suppose a
retail business is planning to have a storewide sale where the prices of all items will be 20
percent off. We have been asked to write a program to calculate the sale price of an item
after the discount is subtracted. Here is the algorithm:
1. Get the original price of the item.
2. Calculate 20 percent of the original price. This is the amount of the discount.
3. Subtract the discount from the original price. This is the sale price.
4. Display the sale price.<br><br>
In step 1 we get the original price of the item. We will prompt the user to enter this data on
the keyboard. In our program we will use the following statement to do this. Notice that the
value entered by the user will be stored in a variable named original_price.<br>
<center> original_price = float(input("Enter the item's original price: "))</center><br>
In step 2, we calculate the amount of the discount. To do this we multiply the original price
by 20 percent. The following statement performs this calculation and assigns the result to
the discount variable.<br>
<center>discount = original_price * 0.2</center><br>
In step 3, we subtract the discount from the original price. The following statement does
this calculation and stores the result in the sale_price variable.<br>
<center>sale_price = original_price − discount</center><br>
Last, in step 4, we will use the following statement to display the sale price:<br>
<center>print('The sale price is', sale_price)</center>

In [ ]:
# This program gets an item's original price and
# calculates its sale price, with a 20% discount.
# Get the item's original price.

original_price = float(input("Enter the item's original price: "))

# Calculate the amount of the discount.
discount = original_price * 0.2

# Calculate the sale price.
sale_price = original_price - discount

# Display the sale price.
print('The sale price is', sale_price)

Enter the item's original price: 100.00
The sale price is 80.0

### Calculating an Average
Determining the average of a group of values is a simple calculation: add all of the values
and then divide the sum by the number of values. Although this is a straightforward calculation, it is easy to make a mistake when writing a program that calculates an average.
For example, let’s assume that the variables a, b, and c each hold a value and we want to
calculate the average of those values. If we are careless, we might write a statement such as
the following to perform the calculation:
<center>average = a + b + c / 3.0 </center>
Can you see the error in this statement? When it executes, the division will take place first.
The value in c will be divided by 3, and then the result will be added to a + b. That is not
the correct way to calculate an average. To correct this error we need to put parentheses
around a + b + c, as shown here:
<center>average = (a + b + c) / 3.0 </center>
Let’s step through the process of writing a program that calculates an average. Suppose you
have taken three tests in your computer science class, and you want to write a program that
will display the average of the test scores. Here is the algorithm:<br>
1. Get the first test score.<br>
2. Get the second test score.<br>
3. Get the third test score.<br>
4. Calculate the average by adding the three test scores and dividing the sum by 3.<br>
5. Display the average.<br>
In steps 1, 2, and 3 we will prompt the user to enter the three test scores. We will store those
test scores in the variables test1, test2, and test3. In step 4 we will calculate the average
of the three test scores. We will use the following statement to perform the calculation and
store the result in the average variable:
<center>average = (test1 + test2 + test3) / 3.0</center>
Last, in step 5, we display the average.

In [ ]:
# Get three test scores and assign them to the
# test1, test2, and test3 variables.
test1 = float(input('Enter the first test score: '))
test2 = float(input('Enter the second test score: '))
test3 = float(input('Enter the third test score: '))

# Calculate the average of the three scores
# and assign the result to the average variable.
average = (test1 + test2 + test3) / 3.0

# Display the average.
print('The average score is', average)

Enter the first test score: 90
Enter the second test score: 80
Enter the third test score: 100
The average score is 90.0

## The Remainder Operator

In [ ]:
# Get a number of seconds from the user.
total_seconds = float(input('Enter a number of seconds: '))

# Get the number of hours.
hours = total_seconds // 3600

# Get the number of remaining minutes.
minutes = (total_seconds // 60) % 60

# Get the number of remaining seconds.
seconds = total_seconds % 60

# Display the results.
print('Here is the time in hours, minutes, and seconds:')
print('Hours:', hours)
print('Minutes:', minutes)
print('Seconds:', seconds)

Enter a number of seconds: 11730
Here is the time in hours, minutes, and seconds:
Hours: 3.0
Minutes: 15.0
Seconds: 30.0

### Converting a Math Formula to a Programming Statement
Suppose you want to deposit a certain amount of money into a savings account and then
leave it alone to draw interest for the next 10 years. At the end of 10 years you would like
to have $10,000 in the account. How much do you need to deposit today to make that happen? You can use the following formula to find out:<br>

$$p= \frac{F}{(1+r)^n}$$

The terms in the formula are as follows:<br>
* P is the present value, or the amount that you need to deposit today.
*	 F is the future value that you want in the account. (In this case, F is $10,000.)
*	 r is the annual interest rate.
*	 n is the number of years that you plan to let the money sit in the account.

It would be convenient to write a computer program to perform the calculation because
then we can experiment with different values for the variables. Here is an algorithm that
we can use:
1. Get the desired future value.
2. Get the annual interest rate.
3. Get the number of years that the money will sit in the account.
4. Calculate the amount that will have to be deposited.
5. Display the result of the calculation in step 4. 


In steps 1 through 3, we will prompt the user to enter the specified values. We will assign
the desired future value to a variable named future_value, the annual interest rate to a
variable named rate, and the number of years to a variable named years.
In step 4, we calculate the present value, which is the amount of money that we will have
to deposit. We will convert the formula previously shown to the following statement. The
statement stores the result of the calculation in the present_value variable.
<center>present_value = future_value / (1.0 + rate)**years</center>
In step 5, we display the value in the present_value variable.

In [ ]:
# Get the desired future value.
future_value = float(input('Enter the desired future value: '))

# Get the annual interest rate.
rate = float(input('Enter the annual interest rate: '))

# Get the number of years that the money will appreciate.
years = int(input('Enter the number of years the money will grow: '))

# Calculate the amount needed to deposit.
present_value = future_value / (1.0 + rate)**years

# Display the amount needed to deposit.
print('You will need to deposit this amount:', present_value)

Enter the desired future value: 10000
Enter the annual interest rate: 0.05
Enter the number of years the money will grow: 10
You will need to deposit this amount: 6139.132535407592

## Formating numbers

In [ ]:
# This program demonstrates how a floating-point
# number is displayed with no formatting.
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('The monthly payment is', monthly_payment)

The monthly payment is 416.6666666666667

In [ ]:
print(format(12345.6789, '.2f'))

12345.68

In [ ]:
print(format(12345.6789, '.1f'))

12345.7

In [ ]:
print('The number is', format(1.234567, '.2f'))

The number is 1.23

In [ ]:
# This program demonstrates how a floating-point
# number can be formatted.
amount_due = 5000.0
monthly_payment = amount_due / 12
print('The monthly payment is', \
format(monthly_payment, '.2f'))

The monthly payment is 416.67

##Inserting Comma Separators

In [ ]:
print(format(12345.6789, ',.2f'))

12,345.68

In [ ]:
print(format(123456789.456, ',.2f'))

123,456,789.46

In [ ]:
print(format(12345.6789, ',f'))

12,345.678900

In [ ]:
# This program demonstrates how a floating-point
# number can be displayed as currency.
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', \
format(annual_pay, ',.2f'), \
sep='') #separator: if you do not want a space printed between the items
#, you can pass the argument sep=''

Your annual pay is $60,000.00

##Formatting a Floating-Point Number as a Percentage

In [ ]:
print(format(0.5, '%'))

50.000000%

In [ ]:
print(format(0.5, '.0%'))

50%

In [ ]:
print(format(123456, 'd')) #with no special formatting

123456

In [ ]:
print(format(123456, ',d')) #with a comma separator

123,456

# Decision Structures and Boolean Logic

In [ ]:
x = 1
y = 0
x>y , y>x

(True, False)

##The if Statement

###Using the if Statement
Kathryn teaches a science class and her students are required to take three tests. She wants
to write a program that her students can use to calculate their average test score. She also
wants the program to congratulate the student enthusiastically if the average is greater
than 95. Here is the algorithm in pseudocode:<br><br>
Get the first test score<br>
Get the second test score<br>
Get the third test score<br>
Calculate the average<br>
Display the average<br>
If the average is greater than 95:
>Congratulate the user

In [ ]:
# This program gets three test scores and displays
# their average. It congratulates the user if the
# average is a high score.

# The high score variable holds the value that is
# considered a high score.
high_score = 95

# Get the three test scores.
test1 = int(input('Enter the score for test 1:'))
test2 = int(input('Enter the score for test 2:'))
test3 = int(input('Enter the score for test 3:'))

# Calculate the average test score.
average = (test1 + test2 + test3) / 3

# Print the average.
print('The average score is', average)

# If the average is a high score,
# congratulate the user.
if average >= high_score:
  print('Congratulations!')
  print('That is a great average!')

#try printing the same sentence with only one print

Enter the score for test 1:93
Enter the score for test 2:99
Enter the score for test 3:96
The average score is 96.0
Congratulations!
That is a great average!

##The if-else Statement

In [ ]:
temperature = int(input("Enter the temperature: "))
if temperature < 40:
  print("A little cold, isn't it?")
else:
  print("Nice weather we're having.")

Enter the temperature: 40
Nice weather we're having.

###Using the if-else Statement
Chris owns an auto repair business and has several employees. If any employee works over 40 hours in a week, he pays them 1.5 times their regular hourly pay rate for all hours over 40. He has asked you to design a simple payroll program that calculates an employee’s gross pay, including any overtime wages. You design the following algorithm:<br><br>
Get the number of hours worked.<br>
Get the hourly pay rate.<br>
If the employee worked more than 40 hours:<br>
>Calculate and display the gross pay with overtime.<br><br>

Else:<br>
>Calculate and display the gross pay as usual.<br><br>

The base_hours variable is assigned 40, which is the number of hours an employee can work in a week without getting paid overtime. The ot_multiplier variable is assigned 1.5, which is the pay rate multiplier for overtime hours. This means that the
employee’s hourly pay rate is multiplied by 1.5 for all overtime hours.

In [ ]:
# Variables to represent the base hours and
# the overtime multiplier.
base_hours = 40 # Base hours per week
ot_multiplier = 1.5 # Overtime multiplier

# Get the hours worked and the hourly pay rate.
hours = float(input('Enter the number of hours worked:'))
pay_rate = float(input('Enter the hourly pay rate:'))

# Calculate and display the gross pay.
if hours > base_hours:
  # Calculate the gross pay with overtime.
  # First, get the number of overtime hours worked.
  overtime_hours = hours - base_hours

  # Calculate the amount of overtime pay.
  overtime_pay = overtime_hours * pay_rate * ot_multiplier

  # Calculate the gross pay.
  gross_pay = base_hours * pay_rate + overtime_pay
else:
  # Calculate the gross pay without overtime.
  gross_pay = hours * pay_rate

# Display the gross pay.
print('The gross pay is $', format(gross_pay, ',.2f'), sep='')

Enter the number of hours worked:50
Enter the hourly pay rate:20
The gross pay is $1,100.00

###Comparing Strings

In [ ]:
name1 = 'Mary'
name2 = 'Mark'
if name1 == name2:
  print('The names are the same.')
else:
  print('The names are NOT the same.')

The names are NOT the same.

In [ ]:
month = 'April'
if month != 'October':
  print('This is the wrong time for Octoberfest!')

This is the wrong time for Octoberfest!

In [ ]:
#This program compares two strings.
# Get a password from the user.
password = input('Enter the password:')

# Determine whether the correct password
# was entered.
if password == 'prospero':
  print('Password accepted.')
else:
  print('Sorry, that is the wrong password.')

Enter the password:prospero
Password accepted.

##Nested Decision Structures & the if-elif-else Statement

If we follow the flow of execution in the next program, we see that the condition salary >= 30000 is tested.<br>
If this condition is false, there is no need to perform further tests; we know that the customer does not qualify for the loan.<br>
If the condition is true, however, we need to test the second condition. This is done with a nested decision structure that tests the condition
years_on_job >= 2.<br>
If this condition is true, then the customer qualifies for the loan.<br>
If this condition is false, then the customer does not qualify.<br>

In [ ]:
# This program determines whether a bank customer
# qualifies for a loan.

min_salary = 30000.0 # The minimum annual salary
min_years = 2 # The minimum years on the job

# Get the customer's annual salary.
salary = float(input('Enter your annual salary:'))

# Get the number of years on the current job.
years_on_job = int(input('Enter the number of ' + 'years employed:'))

# Determine whether the customer qualifies.
if salary >= min_salary:
  if years_on_job >= min_years:
    print('You qualify for the loan.')
  else:
    print('You must have been employed', \
    'for at least', min_years, \
    'years to qualify.')
else:
  print('You must earn at least $', \
    format(min_salary, ',.2f'), \
    ' per year to qualify.', sep='')

Enter your annual salary:40000
Enter the number of years employed:1
You must have been employed for at least 2 years to qualify.

###Multiple Nested Decision Structures

Dr. Suarez teaches a literature class and uses the following 10-point grading scale for all of his exams:<br><br>
Test score & Grade:<br>
90 and above (A)<br>
80–89 (B)<br>
70–79 (C)<br>
60–69 (D)<br>
Below 60 (F)<br><br>
He has asked you to write a program that will allow a student to enter a test score and then display the grade for that score. Here is the algorithm that you will use:
1. Ask the user to enter a test score.
2. Determine the grade in the following manner:<br>
 - If the score is greater than or equal to 90, then the grade is A.
 - Else, if the score is greater than or equal to 80, then the grade is B.
 - Else, if the score is greater than or equal to 70, then the grade is C.
 - Else, if the score is greater than or equal to 60, then the grade is D.
 - Else, the grade is F.

In [ ]:
# This program gets a numeric test score from the
# user and displays the corresponding letter grade.

# Variables to represent the grade thresholds
A_score = 90
B_score = 80
C_score = 70
D_score = 60

# Get a test score from the user.
score = int(input('Enter your test score:'))

# Determine the grade.
if score >= A_score:
  print('Your grade is A.')
else:
  if score >= B_score:
    print('Your grade is B.')
  else:
    if score >= C_score:
      print('Your grade is C.')
    else:
      if score >= D_score:
        print('Your grade is D.')
      else:
          print('Your grade is F.')

Enter your test score:85
Your grade is B.
Your grade is C.
Your grade is D.

##Logical Operators

The purpose of the following decision structure is to determine that a person’s salary is at least $30,000 and that he or she has been at their current job for at least two years.

In [ ]:
# This program determines whether a bank customer
# qualifies for a loan.

min_salary = 30000.0 # The minimum annual salary
min_years = 2 # The minimum years on the job

# Get the customer's annual salary.
salary = float(input('Enter your annual salary:'))

# Get the number of years on the current job.
years_on_job = int(input('Enter the number of' + 
                         ' years employed:'))

# Determine whether the customer qualifies.
if salary >= min_salary and years_on_job >= min_years:
  print('You qualify for the loan.')
else:
  print('You do not qualify for this loan.')

Enter your annual salary:5483
Enter the number of years employed:3
You do not qualify for this loan.

Suppose the bank is losing customers to a competing bank that isn’t as strict about whom it loans money to. In response, the bank decides to change its loan requirements. Now, customers have to meet only one of the previous conditions, not both.

In [ ]:
# This program determines whether a bank customer
# qualifies for a loan.

min_salary = 30000.0 # The minimum annual salary
min_years = 2 # The minimum years on the job

# Get the customer's annual salary.
salary = float(input('Enter your annual salary:'))

# Get the number of years on the current job.
years_on_job = int(input('Enter the number of' +
                         'years employed:'))

# Determine whether the customer qualifies.
if salary >= min_salary or years_on_job >= min_years:
  print('You qualify for the loan.')
else:
  print('You do not qualify for this loan.')

Enter your annual salary:35000
Enter the number ofyears employed:1
You qualify for the loan.

##Boolean Variables

Suppose a salesperson has a quota of $50,000. Assuming sales references
the amount that the salesperson has sold, the following code determines whether the quota has been met:

In [ ]:
sales = float(input("Enter Your sales: "))

if sales >= 50000.0:
  sales_quota_met = True
else:
  sales_quota_met = False

#the sales_quota_met variable can be used as a flag to indicate
#whether the sales quota has been met.
if sales_quota_met: # if False: 
  print('You have met your sales quota!')
  
#This code is equivalent to the following:
#if sales_quota_met == True:
  #print('You have met your sales quota!')

Enter Your sales: 45000